/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run salzmanlab/readzs -profile small_test_data

----------------------------------------------------------------------------------------
*/


params {
    input = "/oak/stanford/groups/horence/JuliaO/nf-readzs/visium/${params.runName}/samplesheet.csv"
    useChannels = false
    libType = "10X"
    isSICILIAN = false
    isCellranger = true 
    metadata = "/oak/stanford/groups/horence/JuliaO/visium_analysis/notebooks/output/visium_meta/meta_${params.runName}.tsv"
    minCellsPerWindowOnt = 10
    minCtsPerCell = 5
    ontologyCols = "pixquant"
    chr_lengths = "/oak/stanford/groups/horence/kaitlin/ref_files/hg38_chrLength.txt"
    annotation_bed = "/oak/stanford/groups/horence/kaitlin/annotation_beds/cleaned_hg38_genes.bed"
    gff = "/oak/stanford/groups/horence/kaitlin/ref_files/gencode.v37.annotation.gff3"
 
}

params.outdir = "/oak/stanford/groups/horence/JuliaO/nf-readzs/visium/${params.runName}"
workDir = "/scratch/groups/horence/JuliaO/nf-readzs/work"
params.tracedir = "/oak/stanford/groups/horence/JuliaO/nf-readzs/visium/${params.runName}/pipeline_info"

tower {
  enabled = true
}
