
/*
process {
    withName: CLASS_INPUT {
        executor = 'slurm'
        clusterOptions = '-p quake,horence,bigmem'
        time = 2.h
        memory = 600.GB
    }
}

process {
    withName: ANN_SPLICES {
        executor = 'slurm'
        clusterOptions = '-p quake,horence,bigmem'
        time = 2.h
        memory = 300.GB
    }
}
*/

params {
  SICILIAN = false
  pin_S = 0.1
  pin_z = 0.0
  bounds = 5
  light = false
  svd_type = "normdonor"
  n_perms = 100
  grouping_level_2 = "pixquant"
  grouping_level_1 = "dummy"
  libraryType = "10X"
  run_analysis = true
  samplesheet = "/oak/stanford/groups/horence/JuliaO/nf-spliz-output/run_dir/visium_2_June_2022/${params.dataname}/samplesheet.csv"
  rank_quant = 0.01

  annotator_pickle = "/oak/stanford/groups/horence/Roozbeh/single_cell_project/SICILIAN_references/mouse/SICILIAN_mouse_mm10_Refs/annotator_pickle_file/refseq_mm10.p6.pkl"
  exon_pickle = "/oak/stanford/groups/horence/Roozbeh/single_cell_project/SICILIAN_references/mouse/SICILIAN_mouse_mm10_Refs/exon_pickle_file/refseq_mm10.p6_exon_bounds.pkl"
  splice_pickle = "/oak/stanford/groups/horence/Roozbeh/single_cell_project/SICILIAN_references/mouse/SICILIAN_mouse_mm10_Refs/splice_pickle_file/refseq_mm10.p6_splices.pkl"
  gtf = "/oak/stanford/groups/horence/Roozbeh/single_cell_project/SICILIAN_references/mouse/SICILIAN_mouse_mm10_Refs/gtf_file/GCF_000001635.26_GRCm38.p6_genomic.gtf"
  meta = "/oak/stanford/groups/horence/JuliaO/visium_analysis/notebooks/output/visium_meta/meta_${params.dataname}.tsv"
}

params.outdir = "/oak/stanford/groups/horence/JuliaO/nf-spliz-output/run_dir/visium_2_June_2022/${params.dataname}"
params.tracedir = "/oak/stanford/groups/horence/JuliaO/nf-spliz-output/run_dir/visium_2_June_2022/${params.dataname}/pipeline_info"
params.schema_ignore_params = "input,single_end,show_hidden_params,validate_params,igenomes_ignore,tracedir,igenomes_base,help,monochrome_logs,plaintext_email,max_multiqc_email_size,email_on_fail,email,multiqc_config,publish_dir_mode,genome,genomes" 

tower {
 enabled = true
}

workDir = "/scratch/groups/horence/JuliaO/nf-spliz/work"
